/* main */
.ReportBugMain {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background-color: var(--white);
    transition: 0.5s;
    font-size: 1.5rem;
}

.ReportBugMain.active {
    width: calc(100% - 80px);
    left: 80px;
}

/* media queries */
@media (max-width: 991px) {
    .ReportBugMain {
        width: 100%;
        left: 0;
    }
    .ReportBugMain.active {
        left: 300px;
    }
}
