@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --blue: #287bff;
    --white: #fff;
    --black1: #222;
    --black2: #999;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

.Toastify__toast-body{
    font-size: 1.6rem;
}

